Repository threshold-network/tbtc-v2, pull requests merged in 2022-03, with the labels that each got.

#136 Compute treasury fee as request percentage
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/test/BridgeStub.sol
  solidity/test/bridge/Bridge.test.ts
  solidity/test/data/redemption.ts
Labels: :chains: solidity

#153 Remaining unit tests for `requestRedemption`
  solidity/test/bridge/Bridge.test.ts
Labels: :chains: solidity

#155 Remaining unit tests for `submitRedemptionProof`
  solidity/contracts/test/BridgeStub.sol
  solidity/test/bridge/Bridge.test.ts
  solidity/test/data/redemption.ts
Labels: :chains: solidity

#160 Deposit treasury fee
  solidity/contracts/bridge/Bridge.sol
  solidity/test/bridge/Bridge.test.ts
Labels: :chains: solidity

#86 Assemble sweep proof transaction
  tbtc-ts/package.json
  tbtc-ts/src/bitcoin.ts
  tbtc-ts/src/bridge.ts
  tbtc-ts/src/index.ts
  tbtc-ts/src/proof.ts
  tbtc-ts/src/sweep.ts
  tbtc-ts/test/data/proof.ts
  tbtc-ts/test/data/sweep.ts
  tbtc-ts/test/proof.test.ts
  tbtc-ts/test/sweep.test.ts
  tbtc-ts/test/utils/mock-bitcoin-client.ts
  tbtc-ts/test/utils/mock-bridge.ts
  tbtc-ts/yarn.lock
Labels: :electric_plug: typescript

#164 Handle precision loss during sweep transaction fee distribution
  solidity/contracts/bridge/Bridge.sol
  solidity/test/bridge/Bridge.test.ts
Labels: :chains: solidity

#166 Bridge refactoring - extract proof validation code to `BitcoinTx` library
  solidity/contracts/bridge/BitcoinTx.sol
  solidity/contracts/bridge/Bridge.sol
  solidity/hardhat.config.ts
  solidity/package.json
  solidity/test/bridge/Bridge.test.ts
  solidity/yarn.lock
Labels: :chains: solidity

#167 Deposit dust threshold
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/test/BridgeStub.sol
  solidity/test/bridge/Bridge.test.ts
Labels: :chains: solidity

#172 Wallets creation
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/Wallets.sol
  solidity/contracts/test/BridgeStub.sol
  solidity/package.json
  solidity/test/bridge/Bridge.Wallets.test.ts
  solidity/test/bridge/Bridge.test.ts
  solidity/test/data/redemption.ts
  solidity/test/fixtures/index.ts
  solidity/yarn.lock
Labels: :chains: solidity

#177 Notify `Wallets` library about a proven fraud
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/Wallets.sol
  solidity/package.json
  solidity/yarn.lock
Labels: :chains: solidity

#176 Wallets closing
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/Wallets.sol
  solidity/test/bridge/Bridge.Wallets.test.ts
  solidity/test/bridge/Bridge.test.ts
  solidity/test/fixtures/index.ts
Labels: :chains: solidity

#133 Fraud proofs
  solidity/contracts/bridge/BitcoinTx.sol
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/Frauds.sol
  solidity/contracts/test/BridgeStub.sol
  solidity/hardhat.config.ts
  solidity/test/bridge/Bridge.Frauds.test.ts
  solidity/test/bridge/Bridge.Wallets.test.ts
  solidity/test/bridge/Bridge.test.ts
  solidity/test/data/fraud.ts
Labels: :chains: solidity

#181 Fix argument of `closeWallet` function call
  solidity/contracts/bridge/Wallets.sol
Labels: :chains: solidity

#127 RFC 1: Moving Funds Between Wallets
  docs/rfc/rfc-1.adoc
Labels: 🔬 research
