Repository threshold-network/tbtc-v2, pull requests merged in 2022-12, with the labels that each got.

#425 Use public key hashes in assembleDepositScript()
  typescript/src/deposit.ts
  typescript/test/deposit.test.ts
Labels: :electric_plug: typescript

#429 Fix badges after change in shields.io syntax
  README.adoc
  docs/README.adoc
  solidity/README.adoc
  system-tests/README.adoc
  typescript/README.adoc
  yearn/README.adoc
Labels: :book: documentation

#397 Clarified how to run tests of tbtc-v2 contracts
  solidity/README.adoc
Labels: :chains: solidity

#424 Optimistic minting
  solidity/contracts/bridge/DepositSweep.sol
  solidity/contracts/bridge/Redemption.sol
  solidity/contracts/vault/TBTCOptimisticMinting.sol
  solidity/contracts/vault/TBTCVault.sol
  solidity/deploy/06_deploy_tbtc_vault.ts
  solidity/test/bank/Bank.test.ts
  solidity/test/data/deposit-sweep.ts
  solidity/test/vault/TBTCVault.OptimisticMinting.test.ts
  solidity/test/vault/TBTCVault.test.ts
Labels: :chains: solidity

#440 Change SemVer range for `@tenderly/hardhat-tenderly` dependency
  solidity/package.json
  solidity/yarn.lock
Labels: :shipit: deployment

#442 Allow only the depositor to reveal a deposit
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/Deposit.sol
  solidity/test/bridge/Bridge.Deposit.test.ts
  solidity/test/bridge/VendingMachine.Upgrade.test.ts
  solidity/test/data/deposit-sweep.ts
  solidity/test/integration/FullFlow.test.ts
  solidity/test/integration/Slashing.test.ts
  solidity/test/integration/data/integration.ts
  solidity/test/maintainer/MaintainerProxy.test.ts
  solidity/test/vault/TBTCVault.OptimisticMinting.test.ts
Labels: :chains: solidity
