Repository threshold-network/tbtc-v2, pull requests merged in 2022-05, with the labels that each got.

#235 Use hardhat deployments as test fixtures
  solidity/contracts/bridge/Bridge.sol
  solidity/deploy/04_deploy_bank.ts
  solidity/deploy/05_deploy_bridge.ts
  solidity/test/bridge/Bridge.Frauds.test.ts
  solidity/test/bridge/Bridge.MovingFunds.test.ts
  solidity/test/bridge/Bridge.Parameters.test.ts
  solidity/test/bridge/Bridge.Wallets.test.ts
  solidity/test/bridge/Bridge.test.ts
  solidity/test/bridge/VendingMachine.test.ts
  solidity/test/bridge/bridge-fixture.ts
  solidity/test/fixtures/bridge.ts
  solidity/test/fixtures/index.ts
  solidity/test/fixtures/vendingMachine.ts
Labels: :chains: solidity

#232 Handle dust balances during moving funds process
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/BridgeState.sol
  solidity/contracts/bridge/MovingFunds.sol
  solidity/test/bridge/Bridge.MovingFunds.test.ts
  solidity/test/bridge/Bridge.Parameters.test.ts
  solidity/test/fixtures/index.ts
Labels: :chains: solidity

#234 Slashing of wallet members on fraud challenge defeat timeout
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/BridgeState.sol
  solidity/contracts/bridge/Fraud.sol
  solidity/test/bridge/Bridge.Frauds.test.ts
Labels: :chains: solidity

#233 Refactor wallet BTC balance parameters
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/BridgeState.sol
  solidity/contracts/bridge/Wallets.sol
  solidity/slither.config.json
  solidity/test/bridge/Bridge.Parameters.test.ts
  solidity/test/bridge/Bridge.Wallets.test.ts
  solidity/test/fixtures/index.ts
Labels: :chains: solidity

#238 Slashing of wallet members on redemption timeout notifications
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/BridgeState.sol
  solidity/contracts/bridge/Redemption.sol
  solidity/contracts/bridge/Wallets.sol
  solidity/test/bridge/Bridge.Parameters.test.ts
  solidity/test/bridge/Bridge.test.ts
  solidity/test/fixtures/index.ts
Labels: :chains: solidity

#236 Slashing of wallet members on moving funds timeout
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/BridgeState.sol
  solidity/contracts/bridge/Fraud.sol
  solidity/contracts/bridge/MovingFunds.sol
  solidity/contracts/bridge/Redemption.sol
  solidity/contracts/test/BridgeStub.sol
  solidity/test/bridge/Bridge.MovingFunds.test.ts
  solidity/test/bridge/Bridge.Parameters.test.ts
  solidity/test/bridge/Bridge.test.ts
  solidity/test/fixtures/index.ts
Labels: :chains: solidity

#247 Change the order of parameters
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/BridgeState.sol
  solidity/test/bridge/Bridge.Frauds.test.ts
  solidity/test/bridge/Bridge.Parameters.test.ts
  solidity/test/fixtures/index.ts
Labels: :chains: solidity

#244 Submitting the moved funds sweep proof
  solidity/contracts/bridge/BitcoinTx.sol
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/BridgeState.sol
  solidity/contracts/bridge/DepositSweep.sol
  solidity/contracts/bridge/MovingFunds.sol
  solidity/contracts/test/BridgeStub.sol
  solidity/deploy/05_deploy_bridge.ts
  solidity/test/bridge/Bridge.MovingFunds.test.ts
  solidity/test/bridge/Bridge.Parameters.test.ts
  solidity/test/bridge/Bridge.Wallets.test.ts
  solidity/test/bridge/Bridge.test.ts
  solidity/test/data/deposit-sweep.ts
  solidity/test/data/moving-funds.ts
  solidity/test/fixtures/bridge.ts
  solidity/test/fixtures/index.ts
Labels: :chains: solidity

#261 Prevent moving funds commitment if wallet has pending moved funds sweep requests
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/MovingFunds.sol
  solidity/contracts/bridge/Wallets.sol
  solidity/contracts/test/BridgeStub.sol
  solidity/test/bridge/Bridge.Frauds.test.ts
  solidity/test/bridge/Bridge.MovingFunds.test.ts
  solidity/test/bridge/Bridge.Wallets.test.ts
  solidity/test/bridge/Bridge.test.ts
Labels: :chains: solidity

#262 Moved funds sweep timeout
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/BridgeState.sol
  solidity/contracts/bridge/MovingFunds.sol
  solidity/contracts/test/BridgeStub.sol
  solidity/test/bridge/Bridge.MovingFunds.test.ts
  solidity/test/bridge/Bridge.Parameters.test.ts
  solidity/test/fixtures/index.ts
Labels: :chains: solidity

#264 Integrate moved funds sweeps with fraud mechanism
  solidity/contracts/bridge/Fraud.sol
  solidity/contracts/test/BridgeStub.sol
  solidity/test/bridge/Bridge.Frauds.test.ts
  solidity/test/bridge/Bridge.MovingFunds.test.ts
  solidity/test/data/fraud.ts
Labels: :chains: solidity

#265 Improve deposit sweep proof logic resiliency
  solidity/contracts/bridge/DepositSweep.sol
  solidity/test/bridge/Bridge.test.ts
  solidity/test/data/deposit-sweep.ts
Labels: :chains: solidity

#263 Establish expected format for wallet ECDSA signing group heartbeat messages
  solidity/contracts/bridge/BitcoinTx.sol
  solidity/contracts/bridge/Heartbeat.sol
  solidity/contracts/test/HeartbeatStub.sol
  solidity/contracts/test/TestEcdsaLib.sol
  solidity/test/bridge/Heartbeat.test.ts
Labels: :chains: solidity

#269 Donation vault
  solidity/contracts/vault/DonationVault.sol
  solidity/test/vault/DonationVault.test.ts
Labels: :chains: solidity

#271 Defeat against fraud challenge with a heartbeat sighash
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/Fraud.sol
  solidity/contracts/bridge/Heartbeat.sol
  solidity/test/bank/Bank.test.ts
  solidity/test/bridge/Bridge.Frauds.test.ts
Labels: :chains: solidity

#266 Support vaults during deposit sweep
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/DepositSweep.sol
  solidity/test/bridge/Bridge.test.ts
  solidity/test/data/deposit-sweep.ts
Labels: :chains: solidity

#270 Splitting the `Bridge` tests
  solidity/test/bridge/Bridge.Deposit.test.ts
  solidity/test/bridge/Bridge.Redemption.test.ts
  solidity/test/bridge/Bridge.Vaults.test.ts
Labels: :chains: solidity

#241 Prevent redemption requests with values lower than moving funds dust threshold
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/BridgeState.sol
  solidity/contracts/bridge/Redemption.sol
  solidity/test/bridge/Bridge.Parameters.test.ts
Labels: :chains: solidity

#274 Reset moving funds timeout
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/MovingFunds.sol
  solidity/test/bridge/Bridge.MovingFunds.test.ts
Labels: :chains: solidity

#242 Bridge deployed as upgradeable proxy
  .gitignore
  solidity/.eslintignore
  solidity/.prettierignore
  solidity/.solhintignore
  solidity/contracts/bridge/BitcoinTx.sol
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/BridgeState.sol
  solidity/contracts/bridge/Deposit.sol
  solidity/contracts/bridge/DepositSweep.sol
  solidity/contracts/bridge/Fraud.sol
  solidity/contracts/bridge/MovingFunds.sol
  solidity/contracts/bridge/Redemption.sol
  solidity/contracts/bridge/Wallets.sol
  solidity/contracts/test/BridgeStub.sol
  solidity/deploy/00_resolve_wallet_registry.ts
  solidity/deploy/05_deploy_bridge.ts
  solidity/deploy/09_transfer_proxy_admin_ownership.ts
  solidity/deploy/10_deploy_proxy_admin_with_deputy.ts
  solidity/hardhat.config.ts
  solidity/package.json
  solidity/test/bridge/Bridge.Deployment.test.ts
  solidity/test/bridge/Bridge.Deposit.test.ts
  solidity/test/bridge/Bridge.MovingFunds.test.ts
  solidity/test/bridge/Bridge.Redemption.test.ts
  solidity/yarn.lock
Labels: :chains: solidity

#279 Indexed fields of Bridge events
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/Deposit.sol
  solidity/contracts/bridge/Fraud.sol
  solidity/contracts/bridge/MovingFunds.sol
  solidity/contracts/bridge/Redemption.sol
Labels: :chains: solidity

#275 Frauds fix: Sighash calculated inside submitFraudChallenge
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/Fraud.sol
  solidity/test/bridge/Bridge.Frauds.test.ts
  solidity/test/data/fraud.ts
Labels: :chains: solidity

#278 Expose misfund recovery in TBTC vault
  solidity/contracts/vault/TBTCVault.sol
  solidity/test/vault/TBTCVault.test.ts
Labels: :chains: solidity

#280 Removed three TODOs from Bridge contract
  solidity/contracts/bridge/BridgeState.sol
  solidity/contracts/bridge/Deposit.sol
  solidity/contracts/bridge/Redemption.sol
Labels: :chains: solidity

#281 Aligned punctuation rules used in Solidity documentation
  solidity/contracts/GovernanceUtils.sol
  solidity/contracts/bank/Bank.sol
  solidity/contracts/bridge/BitcoinTx.sol
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/BridgeState.sol
  solidity/contracts/bridge/Deposit.sol
  solidity/contracts/bridge/DepositSweep.sol
  solidity/contracts/bridge/Fraud.sol
  solidity/contracts/bridge/Heartbeat.sol
  solidity/contracts/bridge/MovingFunds.sol
  solidity/contracts/bridge/Redemption.sol
  solidity/contracts/bridge/Wallets.sol
  solidity/contracts/vault/DonationVault.sol
  solidity/contracts/vault/IVault.sol
  solidity/contracts/vault/TBTCVault.sol
Labels: :chains: solidity

#284 Dependency updates!
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/Redemption.sol
  solidity/package.json
  solidity/yarn.lock
Labels: :chains: solidity

#282 Introduce moving funds timeout reset delay
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/BridgeState.sol
  solidity/contracts/bridge/MovingFunds.sol
  solidity/test/bridge/Bridge.MovingFunds.test.ts
  solidity/test/bridge/Bridge.Parameters.test.ts
  solidity/test/fixtures/index.ts
Labels: :chains: solidity

#292 Replace Ethereum addresses with chain identifiers
  typescript/src/chain.ts
  typescript/src/deposit-sweep.ts
  typescript/src/deposit.ts
  typescript/src/index.ts
  typescript/test/data/deposit-sweep.ts
  typescript/test/deposit.test.ts
  typescript/test/utils/mock-bridge.ts
Labels: :electric_plug: typescript

#293 Replace hardhat-deploy-ethers with @keep-network/hardhat-helpers
  solidity/deploy/09_transfer_proxy_admin_ownership.ts
  solidity/package.json
  solidity/test/bank/Bank.test.ts
  solidity/test/bridge/Bridge.Deployment.test.ts
  solidity/test/bridge/Bridge.Parameters.test.ts
  solidity/test/bridge/EcdsaLib.test.ts
  solidity/test/bridge/Heartbeat.test.ts
  solidity/test/bridge/VendingMachine.test.ts
  solidity/test/fixtures/bridge.ts
  solidity/test/fixtures/vendingMachine.ts
  solidity/test/vault/DonationVault.test.ts
  solidity/test/vault/TBTCVault.test.ts
  solidity/yarn.lock
Labels: :chains: solidity

#295 Deployments updates
  solidity/deploy/00_resolve_wallet_registry.ts
  solidity/deploy/05_deploy_bridge.ts
  solidity/deploy/09_transfer_proxy_admin_ownership.ts
  solidity/hardhat.config.ts
  solidity/tsconfig.json
  solidity/yarn.lock
Labels: :chains: solidity

#286 Extracted receiveBalanceApproval out of Vault to a separate interface
  solidity/contracts/bank/Bank.sol
  solidity/contracts/bank/IReceiveBalanceApproval.sol
  solidity/contracts/vault/IVault.sol
  solidity/test/bank/Bank.test.ts
Labels: :chains: solidity

#299 Added TBTCVault to deployment scripts
  solidity/deploy/06_deploy_tbtc_vault.ts
  solidity/deploy/07_bank_update_bridge.ts
  solidity/deploy/08_transfer_ownership.ts
  solidity/deploy/09_transfer_governance.ts
  solidity/deploy/10_transfer_proxy_admin_ownership.ts
  solidity/deploy/11_deploy_proxy_admin_with_deputy.ts
Labels: :chains: solidity

#288 Set of updates to Bank contract documentation
  solidity/contracts/bank/Bank.sol
Labels: :chains: solidity

#199 Assemble Bitcoin redemption transaction
  typescript/src/bitcoin.ts
  typescript/src/chain.ts
  typescript/src/deposit-sweep.ts
  typescript/src/deposit.ts
  typescript/src/index.ts
  typescript/src/redemption.ts
  typescript/test/data/redemption.ts
  typescript/test/redemption.test.ts
  typescript/test/utils/mock-bridge.ts
Labels: :electric_plug: typescript

#290 TBTCVault is unminting TBTC to Balance instead of redeeming
  solidity/contracts/vault/TBTCVault.sol
  solidity/test/vault/TBTCVault.test.ts
Labels: :chains: solidity

#297 Deposit flow code tweaks
  solidity/test/bridge/Bridge.Deposit.test.ts
  typescript/src/bitcoin.ts
  typescript/src/deposit-sweep.ts
  typescript/src/deposit.ts
  typescript/src/index.ts
  typescript/test/data/deposit-sweep.ts
  typescript/test/deposit-sweep.test.ts
  typescript/test/deposit.test.ts
Labels: :electric_plug: typescript

#298 Reveal deposits using `typescript` library
  typescript/src/chain.ts
  typescript/src/deposit.ts
  typescript/src/index.ts
  typescript/test/deposit.test.ts
  typescript/test/utils/mock-bridge.ts
Labels: :electric_plug: typescript

#296 Bridge.receiveBalanceApproval
  solidity/contracts/bridge/BitcoinTx.sol
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/Redemption.sol
  solidity/test/bridge/Bridge.Redemption.test.ts
Labels: :chains: solidity

#311 Allow the governance to recover ERC20 and ERC721 from TBTCVault
  solidity/contracts/vault/TBTCVault.sol
  solidity/test/vault/TBTCVault.test.ts
Labels: :chains: solidity

#312 Transfer ownership of TBTCVault to the Governance
  solidity/contracts/vault/TBTCVault.sol
  solidity/deploy/03_transfer_vending_machine_roles.ts
  solidity/deploy/08_transfer_bank_ownership.ts
  solidity/deploy/09_transfer_tbtc_vault_ownership.ts
  solidity/deploy/10_transfer_bridge_governance.ts
  solidity/deploy/11_transfer_proxy_admin_ownership.ts
  solidity/deploy/12_deploy_proxy_admin_with_deputy.ts
  solidity/test/vault/TBTCVault.test.ts
Labels: :chains: solidity

#306 Align value types to be `BigNumber`
  typescript/src/bitcoin.ts
  typescript/src/deposit-sweep.ts
  typescript/src/deposit.ts
  typescript/src/electrum.ts
  typescript/src/redemption.ts
  typescript/test/data/deposit-sweep.ts
  typescript/test/data/deposit.ts
  typescript/test/data/electrum.ts
  typescript/test/data/proof.ts
  typescript/test/data/redemption.ts
  typescript/test/deposit-sweep.test.ts
  typescript/test/deposit.test.ts
Labels: :electric_plug: typescript

#313 VendingMachine -> TBTCVault upgrade test
  solidity/test/bridge/VendingMachine.Upgrade.test.ts
  solidity/test/fixtures/bridge.ts
  solidity/test/vault/TBTCVault.Redemption.test.ts
Labels: :chains: solidity

#315 Transfer the entire TBTCVault Bank balance to a new vault during the upgrade
  solidity/contracts/vault/TBTCVault.sol
  solidity/test/vault/TBTCVault.test.ts
Labels: :chains: solidity

#319 Note on upgradeability for `Bridge.receiveBalanceApproval`
  solidity/contracts/bridge/Bridge.sol
Labels: :chains: solidity

#304 Integration tests: create new wallet
  .github/workflows/contracts.yml
  solidity/deploy/04_deploy_bank.ts
  solidity/deploy/05_deploy_bridge.ts
  solidity/hardhat.config.ts
  solidity/package.json
  solidity/test/data/ecdsa.ts
  solidity/test/integration/WalleCreation.test.ts
  solidity/test/integration/utils/ecdsa-wallet-registry.ts
  solidity/test/integration/utils/fixture.ts
  solidity/test/integration/utils/gas.ts
  solidity/test/integration/utils/random-beacon.ts
  solidity/test/integration/utils/staking.ts
Labels: :chains: solidity

#272 Document wallet lifecycle
  .gitignore
  docs/.gitignore
  docs/diagrams/wallet-lifecycle/wallet-lifecycle-1-handling-frauds.png
  docs/diagrams/wallet-lifecycle/wallet-lifecycle-1-handling-frauds.tikz
  docs/diagrams/wallet-lifecycle/wallet-lifecycle-2-entering-moving-funds-state.png
  docs/diagrams/wallet-lifecycle/wallet-lifecycle-2-entering-moving-funds-state.tikz
  docs/diagrams/wallet-lifecycle/wallet-lifecycle-3-responding-to-moving-funds-state.png
  docs/diagrams/wallet-lifecycle/wallet-lifecycle-3-responding-to-moving-funds-state.tikz
  docs/diagrams/wallet-lifecycle/wallet-lifecycle-4-resolving-moving-funds.png
  docs/diagrams/wallet-lifecycle/wallet-lifecycle-4-resolving-moving-funds.tikz
  docs/diagrams/wallet-lifecycle/wallet-lifecycle-5-handling-moved-funds.png
  docs/diagrams/wallet-lifecycle/wallet-lifecycle-5-handling-moved-funds.tikz
  docs/diagrams/wallet-lifecycle/wallet-lifecycle-6-going-from-closing-to-closed-state.png
  docs/diagrams/wallet-lifecycle/wallet-lifecycle-6-going-from-closing-to-closed-state.tikz
  docs/diagrams/wallet-lifecycle/wallet-state-transition.png
  docs/diagrams/wallet-lifecycle/wallet-state-transition.tikz
Labels: :book: documentation

#317 Top-level README + skeleton of docs
  README.adoc
  docs/index.adoc
Labels: :book: documentation

#324 First seize, then terminate the wallet
  solidity/contracts/bridge/Fraud.sol
  solidity/contracts/bridge/MovingFunds.sol
  solidity/contracts/bridge/Redemption.sol
Labels: :chains: solidity

#325 Align wallet state revert messages
  solidity/contracts/bridge/MovingFunds.sol
  solidity/contracts/bridge/Redemption.sol
  solidity/contracts/bridge/Wallets.sol
  solidity/test/bridge/Bridge.MovingFunds.test.ts
  solidity/test/bridge/Bridge.Redemption.test.ts
  solidity/test/bridge/Bridge.Wallets.test.ts
Labels: :chains: solidity

#320 Request redemption in typescript
  typescript/src/chain.ts
  typescript/src/index.ts
  typescript/src/redemption.ts
  typescript/test/redemption.test.ts
  typescript/test/utils/mock-bridge.ts
Labels: :electric_plug: typescript

#291 Redemption proof typescript
  typescript/src/chain.ts
  typescript/src/deposit-sweep.ts
  typescript/src/index.ts
  typescript/src/proof.ts
  typescript/src/redemption.ts
  typescript/test/data/redemption.ts
  typescript/test/deposit-sweep.test.ts
  typescript/test/deposit.test.ts
  typescript/test/redemption.test.ts
  typescript/test/utils/mock-bridge.ts
Labels: :electric_plug: typescript

#310 Ethereum Bridge implementation for `typescript` library
  .github/workflows/typescript.yml
  typescript/.prettierignore
  typescript/README.adoc
  typescript/package.json
  typescript/src/chain.ts
  typescript/src/ethereum.ts
  typescript/test/ethereum.test.ts
  typescript/test/utils/mock-bridge.ts
  typescript/tsconfig.build.json
  typescript/yarn.lock
Labels: :electric_plug: typescript

#321 Added support of non-witness inputs and outputs when sweeping deposits
  typescript/src/deposit-sweep.ts
  typescript/src/index.ts
  typescript/test/data/deposit-sweep.ts
  typescript/test/deposit-sweep.test.ts
Labels: :electric_plug: typescript

#330 Rename `typescript` npm package
  typescript/package.json
Labels: :electric_plug: typescript

#333 Introduced resolveRedeemingWallet, removed main UTXO validation from OutboundTx
  solidity/contracts/bridge/DepositSweep.sol
  solidity/contracts/bridge/MovingFunds.sol
  solidity/contracts/bridge/Redemption.sol
Labels: :chains: solidity

#318 Security policy for TBTC v2
  SECURITY.adoc
Labels: :book: documentation

#336 Wallet state transition cleanup
  README.adoc
  docs/diagrams/wallet-lifecycle/wallet-state-transition.png
  docs/diagrams/wallet-lifecycle/wallet-state-transition.tikz
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/Fraud.sol
  solidity/contracts/bridge/MovingFunds.sol
  solidity/contracts/bridge/Redemption.sol
  solidity/contracts/bridge/Wallets.sol
  solidity/test/bridge/Bridge.Redemption.test.ts
  solidity/test/bridge/Bridge.Wallets.test.ts
Labels: :chains: solidity

#340 Cleanup `typescript` package settings
  .gitignore
  typescript/package.json
  typescript/src/index.ts
  typescript/src/tbtc.ts
  typescript/tsconfig.json
Labels: :electric_plug: typescript

#301 Bridge gas optimisations
  solidity/contracts/bridge/BitcoinTx.sol
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/BridgeState.sol
  solidity/contracts/bridge/Redemption.sol
  solidity/package.json
  solidity/test/bridge/Bridge.Frauds.test.ts
  solidity/test/bridge/Bridge.Redemption.test.ts
  solidity/test/vault/TBTCVault.Redemption.test.ts
  solidity/yarn.lock
Labels: :chains: solidity

#345 Bridge gas optimisations 2
  solidity/contracts/bridge/BitcoinTx.sol
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/BridgeState.sol
  solidity/contracts/bridge/Redemption.sol
  solidity/test/bridge/Bridge.MovingFunds.test.ts
  solidity/test/bridge/Bridge.Redemption.test.ts
  typescript/test/ethereum.test.ts
Labels: :chains: solidity

#348 TBTC documentation: Maintainers
  docs/index.adoc
Labels: :book: documentation

#349 TBTC documentation: deposit and redemption overview plus small reorg
  docs/index.adoc
Labels: :book: documentation

#352 Revisited initial Bridge parameters
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/BridgeState.sol
  solidity/contracts/test/BridgeStub.sol
  solidity/test/bridge/Bridge.Parameters.test.ts
  solidity/test/bridge/Bridge.Redemption.test.ts
  solidity/test/fixtures/index.ts
  solidity/test/integration/Slashing.test.ts
Labels: :chains: solidity

#351 Integration test: full flow
  solidity/test/integration/FullFlow.test.ts
  solidity/test/integration/data/integration.ts
  solidity/test/integration/utils/fixture.ts
Labels: :chains: solidity

#350 🚧 😇 🔑 Update construction of a redemption key
  typescript/src/ethereum.ts
  typescript/test/data/redemption.ts
  typescript/test/ethereum.test.ts
  typescript/test/utils/mock-bridge.ts
Labels: :electric_plug: typescript

#346 Line up the bridge params with the documentation
  docs/index.adoc
Labels: :book: documentation

#209 Maintainer proxy
  solidity/contracts/maintainer/MaintainerProxy.sol
  solidity/deploy/08_deploy_maintainer_proxy.ts
  solidity/deploy/09_bank_update_bridge.ts
  solidity/deploy/10_transfer_bank_ownership.ts
  solidity/deploy/11_transfer_bridge_governance.ts
  solidity/deploy/12_transfer_bridge_governance_ownership.ts
  solidity/deploy/13_transfer_tbtc_vault_ownership.ts
  solidity/deploy/14_transfer_maintainer_proxy_ownership.ts
  solidity/deploy/15_initialize_wallet_owner.ts
  solidity/deploy/16_transfer_proxy_admin_ownership.ts
  solidity/deploy/17_authorize_maintainer_proxy.ts
  solidity/deploy/18_transfer_reimbursement_pool_ownership.ts
  solidity/deploy/19_deploy_proxy_admin_with_deputy.ts
  solidity/hardhat.config.ts
  solidity/test/fixtures/bridge.ts
  solidity/test/helpers/contract-test-helpers.ts
  solidity/test/integration/FullFlow.test.ts
  solidity/test/integration/Slashing.test.ts
  solidity/test/maintainer/MaintainerProxy.test.ts
Labels: :chains: solidity
