Repository threshold-network/tbtc-v2, pull requests merged in 2022-01, with the labels that each got.

#81 Assemble P2SH deposit transaction
  tbtc-ts/.eslintrc.js
  tbtc-ts/package.json
  tbtc-ts/src/bitcoin.ts
  tbtc-ts/src/deposit.ts
  tbtc-ts/src/index.ts
  tbtc-ts/test/data/bitcoin.ts
  tbtc-ts/test/deposit.test.ts
  tbtc-ts/yarn.lock
Labels: :electric_plug: typescript

#84 The Bitcoin Bank
  solidity/contracts/bank/Bank.sol
  solidity/package.json
  solidity/test/bank/Bank.test.ts
  solidity/yarn.lock
Labels: :chains: solidity

#91 RFC 1: Simplify the BTC Sweeping Fee Mechanism
  docs/rfc/rfc-1.adoc
Labels: 🔬 research

#93 RFC 1: Skip the Sweeping Line
  docs/rfc/rfc-1.adoc
Labels: 🔬 research

#87 TBTC Vault for Bitcoin Bank
  solidity/contracts/vault/TBTCVault.sol
  solidity/test/vault/TBTCVault.test.ts
Labels: :chains: solidity

#94 Shortcut for minting TBTC straight from Bridge.sweep transaction
  solidity/contracts/bank/Bank.sol
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/vault/IVault.sol
  solidity/contracts/vault/TBTCVault.sol
  solidity/test/bank/Bank.test.ts
  solidity/test/vault/TBTCVault.test.ts
Labels: :chains: solidity

#90 More expensive deposit reveal, P2SH and P2WSH supported
  solidity/contracts/bridge/Bridge.sol
  solidity/package.json
  solidity/test/bridge/Bridge.test.ts
  solidity/yarn.lock
  tbtc-ts/package.json
  tbtc-ts/src/deposit.ts
  tbtc-ts/src/index.ts
  tbtc-ts/test/deposit.test.ts
Labels: :chains: solidity

#107 Moar Bitcoin details: documentation improvements
  solidity/contracts/bridge/BitcoinTx.sol
  solidity/contracts/bridge/Bridge.sol
Labels: :chains: solidity

#111 Deposits can be routed only to trusted vaults
  solidity/contracts/bridge/Bridge.sol
  solidity/test/bridge/Bridge.test.ts
Labels: :chains: solidity

#112 Use SHA256 when dealing with P2WSH script
  solidity/contracts/bridge/Bridge.sol
  solidity/test/bridge/Bridge.test.ts
  tbtc-ts/src/deposit.ts
  tbtc-ts/test/deposit.test.ts
Labels: :chains: solidity
