Repository threshold-network/tbtc-v2, pull requests merged in 2023-02, with the labels that each got.

#518 Explicitly rebuild bcrypto and use node 14
  typescript/package.json
Labels: :electric_plug: typescript

#504 TS: Define BitcoinNetwork enum
  typescript/src/bitcoin-network.ts
  typescript/src/bitcoin.ts
  typescript/src/deposit.ts
  typescript/src/index.ts
  typescript/test/bitcoin-network.test.ts
  typescript/test/bitcoin.test.ts
  typescript/test/deposit.test.ts
Labels: :electric_plug: typescript

#505 TS: Bitcoin/Electrum add getNetwork function
  typescript/src/bitcoin.ts
  typescript/src/electrum.ts
  typescript/test/electrum.test.ts
  typescript/test/utils/mock-bitcoin-client.ts
Labels: :electric_plug: typescript

#516 Retries for Ethereum requests
  typescript/src/backoff.ts
  typescript/src/chain.ts
  typescript/src/ethereum-helpers.ts
  typescript/src/ethereum.ts
  typescript/test/utils/mock-bridge.ts
Labels: :electric_plug: typescript

#517 Retries for Electrum requests
  typescript/src/bitcoin-network.ts
  typescript/src/electrum.ts
Labels: :electric_plug: typescript

#533 Expose additional event getters required by the monitoring system
  typescript/src/chain.ts
  typescript/src/ethereum.ts
  typescript/src/optimistic-minting.ts
  typescript/src/wallet.ts
  typescript/test/utils/mock-bridge.ts
Labels: :electric_plug: typescript

#526 Chain events monitoring tool
  .pre-commit-config.yaml
  .prettierignore
  README.adoc
  monitoring/.eslintignore
  monitoring/.eslintrc.js
  monitoring/.prettierignore
  monitoring/.prettierrc.js
  monitoring/.tsconfig-eslint.json
  monitoring/README.adoc
  monitoring/package.json
  monitoring/src/context.ts
  monitoring/src/contracts.ts
  monitoring/src/deposit-monitor.ts
  monitoring/src/discord-receiver.ts
  monitoring/src/file-persistence.ts
  monitoring/src/index.ts
  monitoring/src/minting-monitor.ts
  monitoring/src/sentry-receiver.ts
  monitoring/src/system-event.ts
  monitoring/src/wallet-monitor.ts
  monitoring/tsconfig.json
  monitoring/yarn.lock
Labels: :electric_plug: typescript

#535 Dockerfile and CI workflow for chain events monitoring tool
  .github/workflows/monitoring.yml
  monitoring/.dockerignore
  monitoring/Dockerfile
Labels: :electric_plug: typescript

#548 Monitoring and telemetry document
  monitoring/README.adoc
  monitoring/docs/monitoring-and-telemetry.adoc
Labels: :book: documentation

#540 Wallet and minting monitors for chain events monitoring tool
  monitoring/README.adoc
  monitoring/src/context.ts
  monitoring/src/deposit-monitor.ts
  monitoring/src/index.ts
  monitoring/src/minting-monitor.ts
  monitoring/src/wallet-monitor.ts
  monitoring/yarn.lock
Labels: :electric_plug: typescript

#414 RFC 7: Sweeping coordination
  docs/rfc/rfc-1.adoc
  docs/rfc/rfc-7.adoc
Labels: 🔬 research

#555 Expose `OptimisticMintingFinalized` events getter
  typescript/src/chain.ts
  typescript/src/ethereum.ts
  typescript/src/optimistic-minting.ts
Labels: :electric_plug: typescript

#558 Expose TBTC v2 token total supply getter
  typescript/package.json
  typescript/src/chain.ts
  typescript/src/ethereum.ts
  typescript/src/index.ts
Labels: :electric_plug: typescript

#556 Monitor minters health
  monitoring/docs/monitoring-and-telemetry.adoc
  monitoring/src/minting-monitor.ts
  monitoring/yarn.lock
Labels: :electric_plug: typescript
