Repository threshold-network/tbtc-v2, pull requests merged in 2023-01, with the labels that each got.

#446 Deployment step for disabling fraud challenges on mainnet
  solidity/deploy/06_disable_fraud_challenges.ts
  solidity/deploy/07_deploy_tbtc_vault.ts
  solidity/deploy/08_deploy_bridge_governance.ts
  solidity/deploy/09_deploy_maintainer_proxy.ts
  solidity/deploy/10_bank_update_bridge.ts
  solidity/deploy/11_authorize_spv_maintainer_in_bridge.ts
  solidity/deploy/12_transfer_bank_ownership.ts
  solidity/deploy/13_transfer_bridge_governance.ts
  solidity/deploy/14_transfer_bridge_governance_ownership.ts
  solidity/deploy/15_transfer_tbtc_vault_ownership.ts
  solidity/deploy/16_transfer_maintainer_proxy_ownership.ts
  solidity/deploy/17_transfer_proxy_admin_ownership.ts
  solidity/deploy/18_authorize_maintainer_proxy_in_bridge.ts
  solidity/deploy/19_authorize_maintainer_proxy_in_reimbursement_pool.ts
  solidity/deploy/20_authorize_bridge_in_reimbursement_pool.ts
  solidity/deploy/21_deploy_proxy_admin_with_deputy.ts
Labels: :chains: solidity

#449 Allow only the depositor to reveal a deposit- typescript
  typescript/src/ethereum.ts
  typescript/test/ethereum.test.ts
Labels: :electric_plug: typescript

#448 Deployment step for disabling redemptions on mainnet
  solidity/deploy/06_disable_fraud_challenges.ts
  solidity/deploy/07_disable_redemptions.ts
  solidity/deploy/08_deploy_tbtc_vault.ts
  solidity/deploy/09_deploy_bridge_governance.ts
  solidity/deploy/10_deploy_maintainer_proxy.ts
  solidity/deploy/11_bank_update_bridge.ts
  solidity/deploy/12_authorize_spv_maintainer_in_bridge.ts
  solidity/deploy/13_transfer_bank_ownership.ts
  solidity/deploy/14_transfer_bridge_governance.ts
  solidity/deploy/15_transfer_bridge_governance_ownership.ts
  solidity/deploy/16_transfer_tbtc_vault_ownership.ts
  solidity/deploy/17_transfer_maintainer_proxy_ownership.ts
  solidity/deploy/18_transfer_proxy_admin_ownership.ts
  solidity/deploy/19_authorize_maintainer_proxy_in_bridge.ts
  solidity/deploy/20_authorize_maintainer_proxy_in_reimbursement_pool.ts
  solidity/deploy/21_authorize_bridge_in_reimbursement_pool.ts
  solidity/deploy/22_deploy_proxy_admin_with_deputy.ts
Labels: :chains: solidity

#441 Full refactor of `Deposit` interface to operate on public key hashes
  .git-blame-ignore-revs
  typescript/src/chain.ts
  typescript/src/deposit-sweep.ts
  typescript/src/deposit.ts
  typescript/src/ethereum.ts
  typescript/test/data/deposit-sweep.ts
  typescript/test/deposit.test.ts
  typescript/test/ethereum.test.ts
  typescript/test/utils/mock-bridge.ts
Labels: :electric_plug: typescript

#450 Deployment step for disabling moving funds on mainnet
  solidity/deploy/08_disable_moving_funds.ts
  solidity/deploy/09_deploy_tbtc_vault.ts
  solidity/deploy/10_deploy_bridge_governance.ts
  solidity/deploy/11_deploy_maintainer_proxy.ts
  solidity/deploy/12_bank_update_bridge.ts
  solidity/deploy/13_authorize_spv_maintainer_in_bridge.ts
  solidity/deploy/14_transfer_bank_ownership.ts
  solidity/deploy/15_transfer_bridge_governance.ts
  solidity/deploy/16_transfer_bridge_governance_ownership.ts
  solidity/deploy/17_transfer_tbtc_vault_ownership.ts
  solidity/deploy/18_transfer_maintainer_proxy_ownership.ts
  solidity/deploy/19_transfer_proxy_admin_ownership.ts
  solidity/deploy/20_authorize_maintainer_proxy_in_bridge.ts
  solidity/deploy/21_authorize_maintainer_proxy_in_reimbursement_pool.ts
  solidity/deploy/22_authorize_bridge_in_reimbursement_pool.ts
  solidity/deploy/23_deploy_proxy_admin_with_deputy.ts
Labels: :chains: solidity

#451 Deployment step for setting initial deposit fees on mainnet
  solidity/contracts/vault/TBTCOptimisticMinting.sol
  solidity/deploy/10_set_deposit_params.ts
  solidity/deploy/11_deploy_bridge_governance.ts
  solidity/deploy/12_deploy_maintainer_proxy.ts
  solidity/deploy/13_bank_update_bridge.ts
  solidity/deploy/14_authorize_spv_maintainer_in_bridge.ts
  solidity/deploy/15_transfer_bank_ownership.ts
  solidity/deploy/16_transfer_bridge_governance.ts
  solidity/deploy/17_transfer_bridge_governance_ownership.ts
  solidity/deploy/18_transfer_tbtc_vault_ownership.ts
  solidity/deploy/19_transfer_maintainer_proxy_ownership.ts
  solidity/deploy/20_transfer_proxy_admin_ownership.ts
  solidity/deploy/21_authorize_maintainer_proxy_in_bridge.ts
  solidity/deploy/22_authorize_maintainer_proxy_in_reimbursement_pool.ts
  solidity/deploy/23_authorize_bridge_in_reimbursement_pool.ts
  solidity/deploy/24_deploy_proxy_admin_with_deputy.ts
  solidity/test/vault/TBTCVault.OptimisticMinting.test.ts
Labels: :chains: solidity

#453 Optimistic minting debt calculation fix
  solidity/contracts/vault/TBTCOptimisticMinting.sol
  solidity/test/vault/TBTCVault.OptimisticMinting.test.ts
Labels: :chains: solidity

#452 Set the initial deposit locktime
  solidity/deploy/10_set_deposit_params.ts
  typescript/src/deposit.ts
  typescript/test/data/deposit-sweep.ts
  typescript/test/deposit.test.ts
Labels: :chains: solidity, :electric_plug: typescript

#454 TS: Introduce common EthereumContract class
  typescript/src/ethereum.ts
Labels: :electric_plug: typescript

#443 Relay genesis and maintainer authorization
  solidity/deploy/91_genesis_relay.ts
  solidity/deploy/92_retarget_relay.ts
  solidity/deploy/93_authorize_relay_maintainer.ts
Labels: :chains: solidity

#464 Adjust deployment scripts for testnet
  solidity/deploy/11_deploy_bridge_governance.ts
  solidity/hardhat.config.ts
Labels: :chains: solidity

#458 TS: Make buildDepositKey function static
  typescript/src/ethereum.ts
Labels: :electric_plug: typescript

#459 TS: Electrum integration improvements
  typescript/src/electrum.ts
Labels: :electric_plug: typescript

#462 Add artifacts of mainnet deployments
  solidity/external/mainnet/ReimbursementPool.json
  solidity/external/mainnet/WalletRegistry.json
Labels: :chains: solidity

#465 Extract .gitignore for solidity dir
  .gitignore
  solidity/.gitignore
Labels: :chains: solidity

#466 TS: Generate contracts bindings with TypeChain
  typescript/.eslintignore
  typescript/.prettierignore
  typescript/package.json
  typescript/src/ethereum.ts
  typescript/tsconfig.json
  typescript/yarn.lock
Labels: :electric_plug: typescript

#470 GoerliLightRelay contract
  solidity/contracts/relay/LightRelay.sol
  solidity/contracts/test/GoerliLightRelay.sol
  solidity/deploy/01_deploy_light_relay.ts
Labels: :shipit: deployment

#469 Treasury address made governable
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/BridgeGovernance.sol
  solidity/contracts/bridge/BridgeGovernanceParameters.sol
  solidity/contracts/bridge/BridgeState.sol
  solidity/test/bridge/Bridge.Governance.test.ts
  solidity/test/bridge/Bridge.Parameters.test.ts
Labels: :chains: solidity

#471 Deploy LightRelay for all networks but goerli and system_tests
  solidity/contracts/test/SystemTestRelay.sol
  solidity/deploy/01_deploy_light_relay.ts
  solidity/hardhat.config.ts
Labels: :chains: solidity

#472 Bridge governance tests fixes
  solidity/contracts/bridge/BridgeGovernance.sol
  solidity/contracts/bridge/BridgeGovernanceParameters.sol
  solidity/test/bridge/Bridge.Governance.test.ts
Labels: :chains: solidity

#421 Fixing tBTCv2 system tests
  .github/workflows/system-tests.yml
  solidity/deploy/06_deploy_bridge.ts
  solidity/tasks/test-utils.ts
  solidity/test/integration/FullFlow.test.ts
  solidity/test/integration/Slashing.test.ts
  solidity/test/integration/WalletCreation.test.ts
  solidity/test/integration/data/bls.ts
  solidity/test/integration/data/integration.ts
  solidity/test/integration/utils/fake-random-beacon.ts
  solidity/test/integration/utils/fixture.ts
  solidity/test/integration/utils/random-beacon.ts
  system-tests/.gitignore
  system-tests/README.adoc
  system-tests/hardhat.config.ts
  system-tests/test/deposit-redemption.test.ts
  system-tests/test/utils/bitcoin.ts
  system-tests/test/utils/context.ts
  system-tests/test/utils/deposit.ts
  system-tests/yarn.lock
Labels: :chains: solidity

#474 Set wallet closure minimum BTC balance to zero
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/BridgeState.sol
  solidity/deploy/18_disable_moving_funds.ts
  solidity/test/bridge/Bridge.Parameters.test.ts
Labels: :chains: solidity

#477 Rename the environment variable storing account keys
  .github/workflows/contracts.yml
Labels: :shipit: deployment

#478 Remove the `etherscan` tag for `goerli` environment
  solidity/hardhat.config.ts
Labels: :shipit: deployment

#481 Update version to `1.0.1-dev`
  solidity/package.json
Labels: :shipit: deployment

#482 Yarn postinstall scripts after `yarn upgrade...`
  .github/workflows/npm-typescript.yml
Labels: :shipit: deployment

#486 Add a possibility to pass options to the Electrum client
  typescript/src/electrum.ts
Labels: :electric_plug: typescript

#487 Export ClientOptions type
  typescript/src/electrum.ts
Labels: :electric_plug: typescript

#488 Fix the TBTC token ownership update in deployment scripts for Goerli
  solidity/deploy/03_deploy_vending_machine.ts
  solidity/deploy/24_transfer_tbtc_ownership.ts
  solidity/deploy/25_transfer_maintainer_proxy_ownership.ts
  solidity/deploy/26_transfer_proxy_admin_ownership.ts
  solidity/deploy/27_authorize_maintainer_proxy_in_reimbursement_pool.ts
  solidity/deploy/28_authorize_bridge_in_reimbursement_pool.ts
  solidity/deploy/29_deploy_proxy_admin_with_deputy.ts
Labels: :chains: solidity

#490 Bumping up version to 1.0.2-dev
  solidity/package.json
Labels: :chains: solidity

#457 TS: Query for DepositRevealed events
  typescript/src/chain.ts
  typescript/src/deposit.ts
  typescript/src/ethereum.ts
  typescript/test/utils/mock-bridge.ts
Labels: :electric_plug: typescript

#489 Unit tests covering Agoristen's proposal for v1 sunsetting
  solidity/test/bridge/VendingMachine.Upgrade.test.ts
Labels: :chains: solidity

#493 Update version to 1.0.3-dev
  solidity/package.json
Labels: :shipit: deployment

#495 Add optional `vault` parameter to `submitDepositSweepProof`
  typescript/src/deposit-sweep.ts
Labels: :electric_plug: typescript

#460 TS: Optimistic Minting
  typescript/package.json
  typescript/src/bitcoin.ts
  typescript/src/chain.ts
  typescript/src/deposit.ts
  typescript/src/ethereum.ts
  typescript/src/hex.ts
  typescript/src/index.ts
  typescript/src/optimistic-minting.ts
  typescript/src/wallet.ts
  typescript/test/bitcoin.test.ts
  typescript/test/data/deposit-sweep.ts
  typescript/test/data/redemption.ts
  typescript/test/deposit.test.ts
  typescript/test/ethereum.test.ts
  typescript/test/hex.test.ts
  typescript/test/utils/mock-bridge.ts
Labels: :electric_plug: typescript

#503 TS: Update Electrum test servers configuration
  typescript/test/electrum.test.ts
Labels: :electric_plug: typescript

#494 Optimistic minting tests improvements
  solidity/test/vault/TBTCVault.OptimisticMinting.test.ts
Labels: :chains: solidity

#510 Make `decodeBitcoinAddress` throw on non-PKH addresses
  typescript/src/bitcoin.ts
  typescript/test/bitcoin.test.ts
Labels: :electric_plug: typescript

#512 Import include `src/` dir in package exports
  typescript/package.json
Labels: :electric_plug: typescript

#513 Start typescript v1.1.0-dev
  typescript/package.json
Labels: :electric_plug: typescript
