Repository threshold-network/tbtc-v2, pull requests merged in 2023-11, with the labels that each got.

#729 Change TBTC token contract artifact references
  typescript/src/lib/ethereum/artifacts/goerli/TBTC.json
  typescript/src/lib/ethereum/artifacts/mainnet/TBTC.json
  typescript/src/lib/ethereum/tbtc-token.ts
Labels: :electric_plug: typescript

#730 TypeScript: Start version 2.2.0-dev
  typescript/package.json
Labels: :electric_plug: typescript

#731 Update auto-generated contract docs destination
  .github/workflows/contracts-docs.yml
Labels: :book: documentation, :cloud: infrastructure

#732 Rework typescript SDK `README` document
  CONTRIBUTING.adoc
  README.adoc
  solidity/package.json
  typescript/README.adoc
  typescript/README.md
Labels: :book: documentation

#726 Harden wallet main UTXO lookup
  typescript/api-reference/README.md
  typescript/api-reference/classes/ElectrumClient.md
  typescript/api-reference/classes/RedemptionsService.md
  typescript/api-reference/interfaces/BitcoinClient.md
  typescript/src/lib/bitcoin/client.ts
  typescript/src/lib/electrum/client.ts
  typescript/src/services/redemptions/redemptions-service.ts
  typescript/test/data/electrum.ts
  typescript/test/lib/electrum.test.ts
  typescript/test/services/redemptions.test.ts
  typescript/test/utils/mock-bitcoin-client.ts
Labels: :electric_plug: typescript

#736 TypeScript: Start version 2.3.0-dev
  typescript/package.json
Labels: :electric_plug: typescript

#724 Remove job publishing testnet `tbtc-v2.ts` packages
  .github/workflows/typescript.yml
Labels: :shipit: deployment

#740 Use satoshi amount while searching wallet for redemption
  typescript/api-reference/classes/RedemptionsService.md
  typescript/src/services/redemptions/redemptions-service.ts
  typescript/test/services/redemptions.test.ts
  typescript/test/utils/mock-tbtc-token.ts
Labels: :electric_plug: typescript

#635 RFC-11: Solana tBTC minting experience
  docs/rfc/rfc-11.adoc
Labels: 🔬 research

#743 Add signer for ledger live app
  typescript/api-reference/README.md
  typescript/api-reference/classes/BitcoinTxHash.md
  typescript/api-reference/classes/Deposit.md
  typescript/api-reference/classes/DepositFunding.md
  typescript/api-reference/classes/DepositRefund.md
  typescript/api-reference/classes/DepositScript.md
  typescript/api-reference/classes/DepositsService.md
  typescript/api-reference/classes/ElectrumClient.md
  typescript/api-reference/classes/EthereumAddress.md
  typescript/api-reference/classes/EthereumBridge.md
  typescript/api-reference/classes/EthereumTBTCToken.md
  typescript/api-reference/classes/EthereumTBTCVault.md
  typescript/api-reference/classes/EthereumWalletRegistry.md
  typescript/api-reference/classes/Hex.md
  typescript/api-reference/classes/LedgerLiveEthereumSigner.md
  typescript/api-reference/classes/MaintenanceService.md
  typescript/api-reference/classes/OptimisticMinting.md
  typescript/api-reference/classes/RedemptionsService.md
  typescript/api-reference/classes/Spv.md
  typescript/api-reference/classes/TBTC.md
  typescript/api-reference/classes/WalletTx.md
  typescript/api-reference/enums/BitcoinNetwork-1.md
  typescript/api-reference/enums/WalletState-1.md
  typescript/api-reference/interfaces/BitcoinClient.md
  typescript/api-reference/interfaces/BitcoinHeader.md
  typescript/api-reference/interfaces/BitcoinRawTx.md
  typescript/api-reference/interfaces/BitcoinRawTxVectors.md
  typescript/api-reference/interfaces/BitcoinSpvProof.md
  typescript/api-reference/interfaces/BitcoinTx.md
  typescript/api-reference/interfaces/BitcoinTxMerkleBranch.md
  typescript/api-reference/interfaces/BitcoinTxOutpoint.md
  typescript/api-reference/interfaces/BitcoinTxOutput.md
  typescript/api-reference/interfaces/Bridge.md
  typescript/api-reference/interfaces/ChainEvent.md
  typescript/api-reference/interfaces/ChainIdentifier.md
  typescript/api-reference/interfaces/DepositReceipt.md
  typescript/api-reference/interfaces/DepositRequest.md
  typescript/api-reference/interfaces/ElectrumCredentials.md
  typescript/api-reference/interfaces/EthereumContractConfig.md
  typescript/api-reference/interfaces/GetChainEvents.Function.md
  typescript/api-reference/interfaces/GetChainEvents.Options.md
  typescript/api-reference/interfaces/RedemptionRequest.md
  typescript/api-reference/interfaces/TBTCToken.md
  typescript/api-reference/interfaces/TBTCVault.md
  typescript/api-reference/interfaces/Wallet.md
  typescript/api-reference/interfaces/WalletRegistry.md
  typescript/api-reference/modules/BitcoinNetwork.md
  typescript/api-reference/modules/WalletState.md
  typescript/package.json
  typescript/src/lib/utils/index.ts
  typescript/src/lib/utils/ledger.ts
  typescript/yarn.lock
Labels: :electric_plug: typescript

#745 Sepolia testnet in the SDK
  typescript/api-reference/README.md
  typescript/api-reference/classes/EthereumBridge.md
  typescript/api-reference/classes/EthereumTBTCToken.md
  typescript/api-reference/classes/EthereumTBTCVault.md
  typescript/api-reference/classes/EthereumWalletRegistry.md
  typescript/api-reference/classes/TBTC.md
  typescript/src/lib/ethereum/artifacts/sepolia/Bridge.json
  typescript/src/lib/ethereum/artifacts/sepolia/TBTC.json
  typescript/src/lib/ethereum/artifacts/sepolia/TBTCVault.json
  typescript/src/lib/ethereum/artifacts/sepolia/WalletRegistry.json
  typescript/src/lib/ethereum/bridge.ts
  typescript/src/lib/ethereum/index.ts
  typescript/src/lib/ethereum/tbtc-token.ts
  typescript/src/lib/ethereum/tbtc-vault.ts
  typescript/src/lib/ethereum/wallet-registry.ts
  typescript/src/services/tbtc.ts
Labels: :electric_plug: typescript

#741 Increase unit test coverage: unit tests for Deposit
  typescript/api-reference/classes/Deposit.md
  typescript/api-reference/interfaces/BitcoinClient.md
  typescript/src/lib/bitcoin/client.ts
  typescript/src/services/deposits/deposit.ts
  typescript/test/services/deposits.test.ts
  typescript/test/utils/mock-bitcoin-client.ts
Labels: :electric_plug: typescript

#747 Increase unit test coverage: unit tests for Electrum.getTransaction
  typescript/test/lib/electrum.test.ts
Labels: :electric_plug: typescript

#746 Increase unit test coverage: unit tests for DepositService.initiateDeposit
  typescript/api-reference/classes/DepositsService.md
  typescript/src/services/deposits/deposits-service.ts
  typescript/test/services/deposits.test.ts
Labels: :electric_plug: typescript

#748 TypeScript: Start version 2.4.0-dev
  typescript/package.json
Labels: :electric_plug: typescript

#739 Update system tests to the new version of tbtc-v2.ts
  system-tests/package.json
  system-tests/test/deposit-redemption.test.ts
  system-tests/test/minting-unminting.test.ts
  system-tests/test/utils/bitcoin.ts
  system-tests/test/utils/context.ts
  system-tests/test/utils/deposit.ts
  system-tests/yarn.lock
Labels: :electric_plug: typescript

#744 RFC 12: Decentralized wallet coordination
  docs/rfc/rfc-12.adoc
  docs/rfc/rfc-7.adoc
Labels: :book: documentation

#754 Add support for Sepolia testnet in monitoring
  .github/workflows/monitoring.yml
  monitoring/docs/monitoring-and-telemetry.adoc
  monitoring/package.json
  monitoring/src/block-explorer.ts
  monitoring/yarn.lock
Labels: 🩺 monitoring
