Repository threshold-network/tbtc-v2, pull requests merged in 2024-01, with the labels that each got.

#762 Added validation of moved funds sweep proposal
  solidity/contracts/bridge/WalletProposalValidator.sol
  solidity/test/bridge/WalletProposalValidator.test.ts
Labels: :chains: solidity

#760 Expose `revealDepositWithExtraData` in the `Bridge` contract
  solidity/contracts/bridge/Bridge.sol
  solidity/contracts/bridge/Deposit.sol
  solidity/contracts/bridge/WalletProposalValidator.sol
  solidity/test/bridge/Bridge.Deposit.test.ts
  solidity/test/bridge/WalletProposalValidator.test.ts
  solidity/test/vault/TBTCVault.OptimisticMinting.test.ts
Labels: :chains: solidity

#768 Adjust integration tests after SPV proof mechanism change
  solidity/test/integration/data/integration.ts
Labels: :chains: solidity

#770 [Backport] Add coinbase transaction proof to SPV proof
  solidity/contracts/bridge/BitcoinTx.sol
  solidity/contracts/maintainer/MaintainerProxy.sol
  solidity/contracts/test/TestBitcoinTx.sol
  solidity/test/bridge/BitcoinTx.test.ts
  solidity/test/bridge/Bridge.Deposit.test.ts
  solidity/test/bridge/Bridge.MovingFunds.test.ts
  solidity/test/bridge/Bridge.Redemption.test.ts
  solidity/test/data/deposit-sweep.ts
  solidity/test/data/moving-funds.ts
  solidity/test/data/redemption.ts
  solidity/test/integration/data/integration.ts
  solidity/test/maintainer/MaintainerProxy.test.ts
Labels: :chains: solidity

#771 Deployment artifacts after `Bridge` and `MaintainerProxy` upgrades
  solidity/.openzeppelin/mainnet.json
  solidity/deployments/mainnet/Bridge.json
  solidity/deployments/mainnet/DepositSweep.json
  solidity/deployments/mainnet/MaintainerProxy.json
  solidity/deployments/mainnet/MovingFunds.json
  solidity/deployments/mainnet/Redemption.json
  solidity/export.json
Labels: :chains: solidity

#772 [Backport] Deployment artifacts after `Bridge` and `MaintainerProxy` upgrades
  solidity/.openzeppelin/mainnet.json
  solidity/deployments/mainnet/Bridge.json
  solidity/deployments/mainnet/DepositSweep.json
  solidity/deployments/mainnet/MaintainerProxy.json
  solidity/deployments/mainnet/MovingFunds.json
  solidity/deployments/mainnet/Redemption.json
  solidity/export.json
Labels: :chains: solidity

#773 SDK: Add coinbase data to the SPV proof builder
  typescript/api-reference/README.md
  typescript/api-reference/classes/ElectrumClient.md
  typescript/api-reference/classes/EthereumBridge.md
  typescript/api-reference/interfaces/BitcoinClient.md
  typescript/api-reference/interfaces/BitcoinSpvProof.md
  typescript/api-reference/interfaces/BitcoinTxMerkleBranch.md
  typescript/src/lib/bitcoin/client.ts
  typescript/src/lib/bitcoin/spv.ts
  typescript/src/lib/electrum/client.ts
  typescript/src/lib/ethereum/bridge.ts
  typescript/test/data/deposit-sweep.ts
  typescript/test/data/proof.ts
  typescript/test/data/redemption.ts
  typescript/test/lib/bitcoin.test.ts
  typescript/test/lib/electrum.test.ts
  typescript/test/lib/ethereum.test.ts
  typescript/test/services/maintenance.test.ts
  typescript/test/utils/mock-bitcoin-client.ts
  typescript/yarn.lock
Labels: :electric_plug: typescript

#774 Update `solcInputs` directory
  solidity/deployments/mainnet/solcInputs/7c1f8f1dbded4c787d87a982d1fc8349.json
Labels: :chains: solidity

#775 [Backport] Update `solcInputs` directory
  solidity/deployments/mainnet/solcInputs/7c1f8f1dbded4c787d87a982d1fc8349.json
Labels: :chains: solidity

#776 SDK: Support for depositor proxies
  typescript/api-reference/README.md
  typescript/api-reference/classes/Deposit.md
  typescript/api-reference/classes/DepositScript.md
  typescript/api-reference/classes/DepositsService.md
  typescript/api-reference/classes/EthereumBridge.md
  typescript/api-reference/classes/EthereumDepositorProxy.md
  typescript/api-reference/enums/WalletState-1.md
  typescript/api-reference/interfaces/DepositReceipt.md
  typescript/api-reference/interfaces/DepositRequest.md
  typescript/api-reference/interfaces/DepositorProxy.md
  typescript/api-reference/interfaces/RedemptionRequest.md
  typescript/api-reference/interfaces/Wallet.md
  typescript/api-reference/modules/WalletState.md
  typescript/src/lib/contracts/bridge.ts
  typescript/src/lib/contracts/depositor-proxy.ts
  typescript/src/lib/contracts/index.ts
  typescript/src/lib/ethereum/bridge.ts
  typescript/src/lib/ethereum/depositor-proxy.ts
  typescript/src/lib/ethereum/index.ts
  typescript/src/services/deposits/deposit.ts
  typescript/src/services/deposits/deposits-service.ts
  typescript/test/lib/ethereum.test.ts
  typescript/test/services/deposits.test.ts
  typescript/test/utils/mock-depositor-proxy.ts
Labels: :electric_plug: typescript

#777 SDK: Update `Bridge` deployment artifact for Sepolia
  typescript/src/lib/ethereum/artifacts/sepolia/Bridge.json
Labels: :electric_plug: typescript

#755 Remove support for Goerli testnet
  .github/workflows/contracts.yml
  solidity/contracts/test/GoerliLightRelay.sol
  solidity/deploy/01_deploy_light_relay.ts
  solidity/deploy/09_deploy_bridge_governance.ts
  solidity/deploy/19_authorize_spv_maintainer_in_bridge.ts
  solidity/deploy/27_authorize_maintainer_proxy_in_reimbursement_pool.ts
  solidity/deploy/28_authorize_bridge_in_reimbursement_pool.ts
  solidity/deploy/37_authorize_light_relay_maintainer_proxy_in_reimbursement_pool.ts
  solidity/deploy/38_authorize_light_relay_maintainer_proxy_in_light_relay.ts
  solidity/hardhat.config.ts
  typescript/api-reference/README.md
  typescript/api-reference/classes/EthereumBridge.md
  typescript/api-reference/classes/EthereumTBTCToken.md
  typescript/api-reference/classes/EthereumTBTCVault.md
  typescript/api-reference/classes/EthereumWalletRegistry.md
  typescript/api-reference/classes/TBTC.md
  typescript/src/lib/ethereum/artifacts/goerli/Bridge.json
  typescript/src/lib/ethereum/artifacts/goerli/TBTC.json
  typescript/src/lib/ethereum/artifacts/goerli/TBTCVault.json
  typescript/src/lib/ethereum/artifacts/goerli/WalletRegistry.json
  typescript/src/lib/ethereum/bridge.ts
  typescript/src/lib/ethereum/index.ts
  typescript/src/lib/ethereum/tbtc-token.ts
  typescript/src/lib/ethereum/tbtc-vault.ts
  typescript/src/lib/ethereum/wallet-registry.ts
  typescript/src/services/tbtc.ts
Labels: :shipit: deployment
