Repository threshold-network/tbtc-v2, pull requests merged in 2025-07, with the labels that each got.

#861 feat: add support to crosschain redemption in sdk
  typescript/api-reference/README.md
  typescript/api-reference/classes/RedemptionsService.md
  typescript/api-reference/classes/TBTC.md
  typescript/api-reference/enums/DepositState.md
  typescript/api-reference/interfaces/BitcoinDepositor.md
  typescript/api-reference/interfaces/CrossChainContractsLoader.md
  typescript/api-reference/interfaces/DestinationChainTBTCToken.md
  typescript/api-reference/interfaces/ExtraDataEncoder.md
  typescript/api-reference/interfaces/L1BitcoinDepositor.md
  typescript/api-reference/interfaces/L1BitcoinRedeemer.md
  typescript/api-reference/interfaces/L2BitcoinRedeemer.md
  typescript/package.json
  typescript/src/lib/arbitrum/artifacts/arbitrum/WormholeCore.json
  typescript/src/lib/arbitrum/artifacts/arbitrumSepolia/ArbitrumL2BitcoinRedeemer.json
  typescript/src/lib/arbitrum/artifacts/arbitrumSepolia/WormholeCore.json
  typescript/src/lib/arbitrum/index.ts
  typescript/src/lib/arbitrum/l2-bitcoin-redeemer.ts
  typescript/src/lib/base/artifacts/baseSepolia/BaseL2BitcoinRedeemer.json
  typescript/src/lib/base/artifacts/baseSepolia/WormholeCore.json
  typescript/src/lib/base/index.ts
  typescript/src/lib/base/l2-bitcoin-redeemer.ts
  typescript/src/lib/contracts/cross-chain.ts
  typescript/src/lib/ethereum/artifacts/sepolia/L1BitcoinRedeemer.json
  typescript/src/lib/ethereum/index.ts
  typescript/src/lib/ethereum/l1-bitcoin-redeemer.ts
  typescript/src/lib/starknet/starknet-depositor.ts
  typescript/src/lib/utils/wormhole.ts
  typescript/src/services/redemptions/redemptions-service.ts
  typescript/src/services/tbtc.ts
  typescript/test/integration/starknet-single-param-flow.test.ts
  typescript/test/lib/starknet/starknet-depositor-implementation.test.ts
  typescript/test/services/deposits.test.ts
  typescript/test/services/redemptions.test.ts
  typescript/test/utils/mock-cross-chain-contracts-loader.ts
  typescript/test/utils/mock-cross-chain.ts
Labels: :cloud: infrastructure, :electric_plug: typescript

#879 Typescript/Update SUI mainnet configuration
  typescript/src/lib/sui/MOVE_CONTRACT_VERIFICATION.md
  typescript/src/lib/sui/README.md
  typescript/src/lib/sui/mainnet-config.ts
  typescript/test/lib/sui/index.test.ts
Labels: :electric_plug: typescript

#880 Update Ethereum API references and add SuiBTCDepositorWormhole artifacts
  typescript/api-reference/README.md
  typescript/api-reference/classes/EthereumExtraDataEncoder.md
  typescript/api-reference/classes/EthereumL1BitcoinDepositor.md
  typescript/src/lib/ethereum/artifacts/mainnet/SuiBTCDepositorWormhole.json
  typescript/src/lib/ethereum/artifacts/sepolia/SuiBTCDepositorWormhole.json
  typescript/src/lib/ethereum/l1-bitcoin-depositor.ts
  typescript/src/lib/sui/bitcoin-depositor.ts
Labels: :electric_plug: typescript

#844 Add solana chain
  typescript/api-reference/README.md
  typescript/api-reference/classes/Deposit.md
  typescript/api-reference/classes/DepositScript.md
  typescript/api-reference/classes/DepositsService.md
  typescript/api-reference/classes/EthereumExtraDataEncoder.md
  typescript/api-reference/classes/EthereumL1BitcoinDepositor.md
  typescript/api-reference/classes/SolanaAddress.md
  typescript/api-reference/classes/SolanaExtraDataEncoder.md
  typescript/api-reference/classes/TBTC.md
  typescript/api-reference/enums/Chains.Solana.md
  typescript/api-reference/enums/Chains.StarkNet.md
  typescript/api-reference/enums/Chains.Sui.md
  typescript/api-reference/interfaces/ChainIdentifier.md
  typescript/api-reference/interfaces/DepositorProxy.md
  typescript/api-reference/interfaces/ExtraDataEncoder.md
  typescript/api-reference/interfaces/L1BitcoinDepositor.md
  typescript/api-reference/interfaces/L1BitcoinRedeemer.md
  typescript/api-reference/modules/Chains.md
  typescript/package.json
  typescript/src/index.ts
  typescript/src/lib/arbitrum/index.ts
  typescript/src/lib/base/index.ts
  typescript/src/lib/contracts/chain.ts
  typescript/src/lib/contracts/cross-chain.ts
  typescript/src/lib/contracts/depositor-proxy.ts
  typescript/src/lib/ethereum/artifacts/mainnet/SolanaL1BitcoinDepositor.json
  typescript/src/lib/ethereum/artifacts/sepolia/SolanaL1BitcoinDepositor.json
  typescript/src/lib/ethereum/index.ts
  typescript/src/lib/ethereum/l1-bitcoin-depositor.ts
  typescript/src/lib/ethereum/l1-bitcoin-redeemer.ts
  typescript/src/lib/solana/address.ts
  typescript/src/lib/solana/artifacts/solanaDevnet/SolanaL1BitcoinDepositor.json
  typescript/src/lib/solana/artifacts/solanaMainnet/SolanaL1BitcoinDepositor.json
  typescript/src/lib/solana/extra-data-encoder.ts
  typescript/src/lib/solana/index.ts
  typescript/src/lib/solana/solana-depositor-interface.ts
  typescript/src/lib/solana/solana-tbtc-token.ts
  typescript/src/lib/solana/target/idl/tbtc.json
  typescript/src/services/deposits/cross-chain.ts
  typescript/src/services/deposits/deposit.ts
  typescript/src/services/deposits/deposits-service.ts
  typescript/src/services/tbtc.ts
  typescript/test/integration/starknet-single-param-flow.test.ts
  typescript/test/lib/starknet/provider-integration.test.ts
  typescript/test/services/deposits.test.ts
  typescript/test/services/tbtc-refactored-init.test.ts
  typescript/test/services/tbtc-single-param.test.ts
  typescript/test/services/tbtc-t003-l2signer.test.ts
  typescript/test/utils/mock-cross-chain-contracts-loader.ts
  typescript/test/utils/mock-cross-chain.ts
  typescript/yarn.lock
Labels: :electric_plug: typescript

#882 refactor: update crosschain redemption contracts
  solidity/contracts/cross-chain/wormhole/L1BTCRedeemerWormhole.sol
  solidity/contracts/cross-chain/wormhole/L2BTCRedeemerWormhole.sol
  solidity/contracts/cross-chain/wormhole/L2WormholeGateway.sol
  solidity/contracts/integrator/AbstractBTCRedeemer.sol
  solidity/contracts/test/MockL1BTCRedeemerWormhole.sol
  solidity/contracts/test/WormholeBridgeStub.sol
  solidity/test/cross-chain/wormhole/L1BTCRedeemerWormhole.test.ts
  solidity/test/cross-chain/wormhole/L2BTCRedeemerWormhole.test.ts
  solidity/test/integrator/AbstractBTCRedeemer.test.ts
Labels: :chains: solidity

#889 feat: add timelock controller on bob
  cross-chain/bob/contracts/Timelock.sol
  cross-chain/bob/deploy_l2/03_deploy_timelock.ts
  cross-chain/bob/hardhat.config.ts
Labels: :electric_plug: typescript
