Repository threshold-network/tbtc-v2, pull requests merged in 2025-06, with the labels that each got.

#863 Update StarkNet Bitcoin Depositor Integration and Relayer Endpoint
  typescript/api-reference/README.md
  typescript/api-reference/classes/StarkNetBitcoinDepositor.md
  typescript/api-reference/classes/TBTC.md
  typescript/api-reference/interfaces/StarkNetBitcoinDepositorConfig.md
  typescript/src/lib/ethereum/artifacts/STARKNET_ARTIFACTS_README.md
  typescript/src/lib/ethereum/artifacts/mainnet/StarkNetBitcoinDepositor.json
  typescript/src/lib/ethereum/artifacts/mainnet/StarkNetL1BitcoinDepositor.json
  typescript/src/lib/ethereum/artifacts/sepolia/StarkNetBitcoinDepositor.json
  typescript/src/lib/ethereum/l1-bitcoin-depositor.ts
  typescript/src/lib/starknet/starknet-depositor.ts
  typescript/src/services/tbtc.ts
  typescript/test/integration/starknet-single-param-flow.test.ts
  typescript/test/lib/ethereum/starknet-artifacts.test.ts
  typescript/test/lib/starknet/provider-integration.test.ts
  typescript/test/lib/starknet/starknet-depositor-implementation.test.ts
  typescript/test/lib/starknet/starknet-depositor-payload.test.ts
  typescript/test/services/tbtc-refactored-init.test.ts
  typescript/test/services/tbtc-single-param.test.ts
  typescript/test/services/tbtc-t003-l2signer.test.ts
Labels: :cloud: infrastructure, :electric_plug: typescript

#868 feat: add ownership check and transfer scripts for StarkNetBitcoinDepositor & version bump
  cross-chain/starknet/package.json
  cross-chain/starknet/scripts/check_ownership.ts
  cross-chain/starknet/scripts/transfer_ownership.ts
  typescript/package.json
Labels: :electric_plug: typescript

#867 feat: add base timelock deployment script and artifact
  cross-chain/base/contracts/test/TimelockDeployed.sol
  cross-chain/base/deploy_l2/03_deploy_timelock.ts
  cross-chain/base/deployments/base/Timelock.json
  cross-chain/base/deployments/base/solcInputs/df664a96e4eafe58d85c73562ced75b8.json
  cross-chain/base/package.json
  cross-chain/base/test/TimelockDeployed.test.ts
  cross-chain/base/yarn.lock
Labels: :shipit: deployment

#853 feat: add crosschain bitcoin redeemer contracts
  solidity/.eslintrc
  solidity/contracts/cross-chain/wormhole/L1BTCRedeemerWormhole.sol
  solidity/contracts/cross-chain/wormhole/L2BTCRedeemerWormhole.sol
  solidity/contracts/cross-chain/wormhole/L2WormholeGateway.sol
  solidity/contracts/integrator/AbstractBTCRedeemer.sol
  solidity/contracts/integrator/BitcoinTx.sol
  solidity/contracts/integrator/IBank.sol
  solidity/contracts/integrator/IBridge.sol
  solidity/contracts/integrator/IL2WormholeGateway.sol
  solidity/contracts/test/MockBank.sol
  solidity/contracts/test/MockBridgeForStarkNet.sol
  solidity/contracts/test/MockL1BTCRedeemerWormhole.sol
  solidity/contracts/test/MockTBTCBridge.sol
  solidity/contracts/test/MockTBTCBridgeWithSweep.sol
  solidity/contracts/test/TestBTCDepositor.sol
  solidity/contracts/test/TestBTCRedeemer.sol
  solidity/contracts/test/TestBTCUtilsHelper.sol
  solidity/fix-lint.js
  solidity/test/cross-chain/wormhole/L1BTCRedeemerWormhole.test.ts
  solidity/test/cross-chain/wormhole/L2BTCRedeemerWormhole.test.ts
  solidity/test/integrator/AbstractBTCRedeemer.test.ts
Labels: :cloud: infrastructure, :chains: solidity

#871 feat: add SUI support for tBTC cross-chain integration
  typescript/api-reference/README.md
  typescript/api-reference/classes/BitcoinTxHash.md
  typescript/api-reference/classes/DepositRefund.md
  typescript/api-reference/classes/DepositScript.md
  typescript/api-reference/classes/EthereumExtraDataEncoder.md
  typescript/api-reference/classes/EthereumL1BitcoinDepositor.md
  typescript/api-reference/classes/Hex.md
  typescript/api-reference/classes/TBTC.md
  typescript/api-reference/enums/Chains.Sui.md
  typescript/api-reference/modules/Chains.md
  typescript/package.json
  typescript/src/lib/contracts/chain.ts
  typescript/src/lib/ethereum/artifacts/sepolia/SuiL1BitcoinDepositor.json
  typescript/src/lib/ethereum/l1-bitcoin-depositor.ts
  typescript/src/lib/sui/MOVE_CONTRACT_VERIFICATION.md
  typescript/src/lib/sui/README.md
  typescript/src/lib/sui/USAGE_EXAMPLE.md
  typescript/src/lib/sui/bitcoin-depositor.ts
  typescript/src/lib/sui/chain-identifier.ts
  typescript/src/lib/sui/extra-data-encoder.ts
  typescript/src/lib/sui/index.ts
  typescript/src/lib/sui/mainnet-config.ts
  typescript/src/lib/sui/tbtc-token.ts
  typescript/src/lib/sui/types.ts
  typescript/src/services/tbtc.ts
  typescript/test/lib/sui/bitcoin-depositor.test.ts
  typescript/test/lib/sui/chain-identifier.test.ts
  typescript/test/lib/sui/extra-data-encoder.test.ts
  typescript/test/lib/sui/index.test.ts
  typescript/test/lib/sui/tbtc-token.test.ts
  typescript/yarn.lock
Labels: :book: documentation, :electric_plug: typescript
